
body{
    background-color: #c1e4e9;
    font-family: 'Zen Maru Gothic', sans-serif;
}

ul{
　display: flex;
　}

top_kakinuma{
    width: 50vw;
    }

top_mori{
    width: 50vw;
　　}



    
