
body{
    background-color: #f8f4e6;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.backbutton_kakinuma{
    z-index: 100;
    position: fixed;
    left: 5%;
    top: 10%;
    width: 18%;
    cursor: pointer;
}

.side_ono{
  z-index: 100;
  position: fixed;
  left: 5%;
  top: 23%;
  width: 18%;
  cursor: pointer;
}

.side_sasaki{
  z-index: 100;
  position: fixed;
  left: 5%;
  top: 36%;
  width: 18%;
  cursor: pointer;
}

.side_shigeno{
  z-index: 100;
  position: fixed;
  left: 5%;
  top: 49%;
  width: 18%;
  cursor: pointer;
}

.side_mori{
  z-index: 100;
  position: fixed;
  left: 5%;
  top: 62%;
  width: 18%;
  cursor: pointer;
}

.side_washizu{
  z-index: 100;
  position: fixed;
  left: 5%;
  top: 75%;
  width: 18%;
  cursor: pointer;
}


.kakinuma_1{
    width: 50%;
    margin:0 auto;
    position: relative;
}

.shiraito{
  position: absolute;
  padding-top: 10%;
  width: 100%;
}

.柿沼_profile{
  position: absolute;
  padding-top: 34%;
  padding-left: 1%;
  width: 30%;
}

.bunichi{
    position: absolute;
    color: #030636;
    padding-top: 40%;
    padding-left: 2%;
    }

.kakinuma_2{
      width: 50%;
      margin:0 auto;
      position: relative;
  }

.camera{
        position:absolute;
        padding-top: 90%;
        width: 50%;

    }

.shumi{
      position: absolute;
      padding-top: 105%;
      padding-left: 50%;
      width: 12%;
    }
    
.bunni{
        position: absolute;
        color: #030636;
        padding-top: 112%;
        padding-left: 50%;
        }

.effect1{
      position: absolute;
      padding-top: 95%;
      padding-left: 5%;
      width: 12%;
        }
    
.kakinuma_3{
  position: absolute;
            width: 600px;
            top: 430px;
            left: 865px;
        }

.effect2{
  position: absolute;
  text-align: center;
}

.kakinuma_effect2{
  position: absolute;
  top: 665px;
  width: 360px;
  left: 1025px;
}

.san{
  position: absolute;
  text-align: center;
}

.bunsan{
  position: absolute;
  color: #030636;
  top: 1535px;
  left: 495px;
  }
  @keyframes fade{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }

.shoukai{
  position: absolute;
  top: 1980px;
  left: 660px;
}

.kakinuma_4{
  width: 500px;
}

.yon{
  position: absolute;
  text-align: center;
  top: 1900px;
  right: 700px;
}

p{
    font-size: 20px;
}


