
body{
    background-color: #c1e4e9;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.top_profile{
    display: flex;
    width: 0 auto;
}

.top_ono{
    width: 100%;
    line-height: 0%;
    }

.top_shigeno{
    width: 100%;
    line-height: 0%;
    }

.top_kakinuma{
    width: 100%;
    line-height: 0%;
}
.top_mori{
    width: 100%;
    line-height: 0%;
}

.top_sasaki{
    width: 100%;
    line-height: 0%;
}

.top_washizu{
    width: 100%;
    line-height: 0%;
}

.top{
    width: 100%;
    text-align: center;
    }

.title{
    padding-top: 3%;
    width: 50%;
}


    